*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(255, 0, 0);
    font-size: large;

}

.col{
    height: 100vh;
    width: 100%;
    display: flex;
}

.column1{
     width: 33.33%;
     height: 100vh;
     background-color: rgb(255, 170, 248);
     display: flex;
     justify-content: center;
     align-items: center;
}
.column2{
    width: 33.33%;
    height: 100vh;
    background-color: rgb(250, 87, 236);
    display: flex;
    justify-content: center;
    align-items: center;
}
.column3{
    width: 33.33%;
    height: 100vh;
    background-color: rgb(255, 0, 234);
    display: flex;
    justify-content: center;
    align-items: center;
}


button{
    position: absolute;
    bottom: 10px;
    left: 10px;
    padding: 12px;
    background-color: aquamarine;
}

button a{
    text-decoration: none;
    background-color: aqua;
}

