*{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background-image: url("bg.jpg");
    background-size: cover;
    /* background-position: center; */
    background-attachment: scroll;
    background-repeat: no-repeat;
}

h1{
    padding: 30px;
}

.p1{

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
    background-color: rgb(255, 129, 202);
    color: floralwhite;
    font-weight: 400;
    font-size: 20px;
}

#p2{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
    background-color: rgb(58, 139, 231);
    color: floralwhite;
    font-weight: 400;
    font-size: 20px;
}

button{

    padding: 12px;

}

button a{
    text-decoration: none;
}

